{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styleStory.css' %}">
</head>
<body>
    <button onclick="home()">Home Page</button>
    <div>
    <h1 class="text">Story</h1>
    <br>
    {% if context %}
        {% for stor in context %}
        
            <p>{{stor.story_shown}}</p>
        
        {% endfor %}
        <button onclick="contribute()">Contribute</button>
    {% else %}
        <p class="text">No content available.</p>
        <button onclick="contribute()">Contribute</button>  
    {% endif %}
    </div>
    <script>
        function home(){
            let urlHome = "{% url 'index' %}";
            window.location.href = urlHome;
        }
        function contribute(){
            let urlContribute = "{% url 'contribute' %}"
            window.location.href = urlContribute;
        }
    </script>
</body>
</html>